In [4]:
name = "ariel"
age = 20
address,province= "JL. Cibolang","7413412"
scorePhyton = 90.9
isMarried = False

print("Nama :",name)
print("umur :",age)
print("Alamat :",address)
print("Nilia Pemrograman :",scorePhyton)
print("Status Menikah :",isMarried )

Nama : ariel
umur : 20
Alamat : JL. Cibolang
Nilia Pemrograman : 90.9
Status Menikah : False

In [8]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePhyton>",type(scorePhyton))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePhyton> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [15]:
#Casting atau konversi Tipe Data
#Konversi dari Stirng ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")
#konversi dari int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)
#konfersi adri bool ke (int,float,str)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
20 20.0 True
0-0.0-False

In [12]:
city =  "makassar"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

m
r

In [13]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal :",desimal)
print("Nilai Desimal dari 0xff:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("=========")
print("Nilai Biner dari:",desimal, bin(desimal))
print("Nilai Octal dari:",desimal, oct(desimal))
print("Nilai Hexa adri:",desimal, hex(desimal))

Nilai Desimal : 200
Nilai Desimal dari 0xff: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
=========
Nilai Biner dari: 200 0b11001000
Nilai Octal dari: 200 0o310
Nilai Hexa adri: 200 0xc8

In [48]:
# Tipe data collection

cities = ["Sukabumi","Ngawi","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])

#Tuple
names = ("Andi", "Budi", "Caca")
print(names)
#names[0] = "Rudi"akan menyebabkan error, karena tuple adalah immutable


studentData =
    {
    "name" : "Ariel",
    "address" : {
            "street" : "Nagrak",
            "number" : 21,
            "province" : "West Java"
    },
    "hobbies": ["Tenis","Bola"],
    "age": 20,
    "isMarried" : True
}
#List Of Dictionary
listStudent = [
    {
    "name" : "Ariel",
    "address" : {
            "street" : "Nagrak",
            "number" : 21,
            "province" : "West Java"
    },
    "hobbies": ["Tenis","Bola"],
    "age": 20,
    "isMarried" : True
},
    {
    "name" : "Ariel",
    "address" : {
            "street" : "Nagrak",
            "number" : 21,
            "province" : "West Java"
    },
    "hobbies": ["Tenis","Bola"],
    "age": 20,
    "isMarried" : True
}
    
    
]
    
    
    
print(studentData)

SyntaxError: invalid syntax (811892761.py, line 14)

In [61]:
#Casting Dictionary

list_tuple = [("name","Arile"),("Nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [["Buah","Apel"],["Harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = ...
tuple_list = ...

keys = ["name","age","address"]
values = ["Adi",20,"Bandung"]

{'name': 'Arile', 'Nilai': 80}
{'Buah': 'Apel', 'Harga': 10000}